<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Administration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CollectionsApp.styles.css" asp-append-version="true" />
</head>
<body>    
    <div class="m-2">
        <h5 class="bg-info text-white text-center p-2">User Administration</h5>
        @RenderBody()
    </div>
</body>
</html>
